.intro_main {
  /* height: 77vh; */
  display: flex;
  /* flex-wrap: wrap; */
  /* margin-top: 5rem; */
}
.i_left,
.i_right {
  display: flex;
  flex: 1;
}
.i_left {
  flex-direction: column;
  gap: 2rem;
  padding: 0 2%;
}
.i_name {
  display: flex;
  flex-direction: column;
}
.i_name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 3rem;
}
.i_name > :nth-child(2) {
  color: var(--orange);
  font-weight: bold;
  font-size: 3rem;

  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 2.5s;
  animation-timing-function: steps(43, end);
  animation-fill-mode: forwards;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.i_name > :nth-child(3) {
  color: var(--gray);
  font-weight: 100;
  font-size: 14px;
  margin-top: 1rem;
}
.intro_btn_container {
  display: flex;
  gap: 4%;
  padding: 2%;
}
/* .i_btn {
  width: 8rem;
  height: 3rem;
} */
.i_btn:hover {
  background: white;
  cursor: pointer;
  color: var(--orange);
  /* font-weight: bold; */
  /* border: 2px solid var(--orange); */
  box-shadow: 0 0 0 2px var(--orange);
}
.i_icons {
  cursor: pointer;
  /* margin-top: 3rem; */
  display: flex;
  /* gap: 0rem; */
}
.i_icons * {
  transform: scale(0.5);
  /* the above code make the images half of their current size*/
}
.i_icons *:hover {
  transform: scale(0.6);
}

.i_right {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 2%;
}

/* image fix */
/* .Personalimage_container{
 width: 500px;
 height: 500px;

  border-radius: 50%;
  overflow: hidden;
} */
.Personalimage_container {
  /* width: 500px; 
  height: 500px; */
  width: 100%; /* Adjust the width */
  max-width: 500px; /* Limit the maximum width */
  min-width: 300px;
  height: auto; 
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(83, 83, 83, 0.5); /* Add shadow */
}

.Bandita_img {
  height: 100%;
  width: 100%;
  object-fit: cover;

  position: relative;

  box-shadow: 0 0 50px rgba(219, 113, 71, 0.5);
  /* top: -16%;  */
  /* shadow */
}

.f_div_right {
  position: absolute;
  left: 65%;
  top: 24px;
}
.f_div_left {
  position: absolute;
  top: 24rem;
  left: 34px;
}

.Emoji_1 {
  position: absolute;
  transform: scale(0.8);
  left: -30px;
}

@media screen and (max-width: 768px) {
  .intro_main {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 600px) {
  .Personalimage_container {
    max-width: 300px;
    max-height: 300px;
  }
  .i_name :nth-child(1),
  .i_name :nth-child(2) {
    font-size: 2rem;
  }
} 
@media screen and (min-device-width: 768px) and (max-device-width: 950px) {
  .f_div_right {
    top: 20px;
    transform: translateX(-50%); 
  }
  .f_div_left{
    top: 24rem;
  }
}
