.intro_main {
  /* height: 77vh; */
  display: flex;
  /* margin-top: 5rem; */
}
.i_left,.i_right {
  display: flex;
  flex: 1;

}
.i_left {
  flex-direction: column;
  gap: 2rem;
  padding: 0 2%;
}
.i_name {
  display: flex;
  flex-direction: column;
}
.i_name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 3rem;
}
.i_name > :nth-child(2) {
  color: var(--orange);
  font-weight: bold;
  font-size: 3rem;
}
.i_name > :nth-child(3) {
  color: var(--gray);
  font-weight: 100;
  font-size: 14px;
  margin-top: 1rem;
}
.intro_btn_container{
  display: flex;
  gap: 4%;
}
/* .i_btn {
  width: 8rem;
  height: 3rem;
} */
.i_btn:hover {
  background: white;
  cursor: pointer;
  color: var(--orange);
  font-weight: bold;
  border: 2px solid var(--orange);
}
.i_icons {
  cursor: pointer;
  margin-top: 3rem;
  display: flex;
  /* gap: 0rem; */
}
.i_icons * {
  transform: scale(0.5);
  /* the above code make the images half of their current size*/
}
.i_icons *:hover {
  transform: scale(0.6) ;
}

.i_right {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* image fix */
.Personalimage_container{
  /* height: 500px;
  width: 500px; */

  height: 90%;
  min-width: 50%;
  border-radius: 50%;
  overflow: hidden;
  /* object-fit: cover; */
}
.Bandita_img{
  height: 100%;
  width: 100%;
  object-fit: cover;
 
  position: relative;


  box-shadow: 0 0 50px rgba(219, 113, 71, 0.5);
  /* top: -16%;  */
  /* shadow */
}


.f_div_right{
  position: absolute;
  left: 60%;
  top: 24px;
}
.f_div_left{
  position: absolute;
  top: 29rem;
  left: -20px;
}

.Emoji_1{
  position: absolute;
  transform: scale(0.8);
  left: -30px;
}



/* .blur{
  background: linear-gradient(#FFCEFE,#FFD495);
 width: 90%;
 border-radius: 50%;
 left: 70%;

} */

@media screen and(max-width:768px) {
  .intro_main{
    display: flex;
    flex-direction: column;
  }
}
