*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --yellow: #f5c32c;
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --blueCard: #ddf8fe;
  --purple: rgb(238 210 255);
  --boxShadow: 0px 19px 60px rgba(0, 0, 0, 0.08);
  --orangeCard: rgba(252, 167, 31, 0.45);
  --smboxShadow: ;
  /* --background: rgba(246, 227, 179, 0.91); */
}

.App {
  padding: 0.5rem 3rem;
  overflow: hidden;
  color: var(--black);
  margin-bottom: 1rem;
}

.darkMode {
  background-image: url("https://img.freepik.com/free-vector/wave-background-abstract-gradient-design_483537-3688.jpg");
  /* background-repeat:no-repeat; */
background-size:100%;
background-position:center;
background-attachment: fixed;

  /* background-repeat: no-repeat;
  width: 100%;
  background-size: contain;
  background-position:center; */

  /* background-color: #000; */
}

.button {
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 11px 26px;
  background: linear-gradient(rgb(233, 199, 137), rgb(251, 164, 2));
  box-shadow: 0 0 10px rgb(109, 82, 32);
  display: inline-block;
  text-decoration: none;
   transition-duration: 0.2s;
}


.heading {
  color: var(--orange);
  font-size: 40px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  /* margin: 0; */
  /* background: linear-gradient(120deg, #f6d365 0%, #fda085 100%); */
}

@media screen and (max-width: 530px) {
  .App{
    padding: 0.5rem 1rem;
  }
  .heading{
    font-size: 32px;
  }
}