:root{
  --yellow : #F5C32C;
  --orange : #FCA61F;
  --black : #242D49;
  --gray : #788097;
  --blueCard : #DDF8FE;
  --purple : rgb(238 210 255);
  --boxShadow : 0px 19px 60px rgba(0, 0, 0, 0.08);
  --orangeCard : rgba(252, 167, 31, 0.45);
  --smboxShadow : ;
  --background: rgba(246, 227, 179, 0.91);
}

.App{
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);
}
.button{
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
  background: linear-gradient(rgb(255, 186, 58),rgb(251, 164, 2));
  box-shadow: 0 0 10px rgb(109, 82, 32);
}

.heading{
  color: var(--orange);
  font-size: 40px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  /* margin: 0; */
  /* background: linear-gradient(120deg, #f6d365 0%, #fda085 100%); */
}